html{
    padding: 0;
    margin-left: 15px;
    margin-top: 15px;
    margin-right: 15px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
div.welcome{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0); height: 100%;
     text-align: center;
}

img {
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}
div.navigasi1{display: inline-table; text-decoration: none; width: 100%; height: 100%;
    line-height: 15px;}


div.navigasi2{display:inline-table ; text-decoration: none; text-align: center; width: 100%; height: 100%;
    line-height: 15px;}
